{{ partial "head.html" . }}
<div class="row">
  <div class="col s12 m3">
    <div class="table cover">
{{ partial "sidebar.html" . }}
    </div>
  </div>
  <div class="col s12 m9">
    <div class="post-listing">
      <a class="btn" href= "{{ .Site.BaseURL }}" >
      Home
      </a>
      <div class="tag-list">
        <div class="tag-group">
          <h5 id="link post" class="tag-group-title">{{ .Title }}</h5>
        </div>
        {{ range .Data.Pages }}
        <article class="tag-item">
      <li><small>{{ .Date.Format "2006/01/02" }}</small> • <a class="tag-item-title" href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
      </article>
      </div>
{{ partial "footer.html" . }}
    </div>
  </div>
</div>
