{{ partial "head.html" . }}
<div class="row">
  <div class="col s12 m3">
    <div class="table cover">
{{ partial "sidebar.html" . }}
    </div>
  </div>
  <div class="col s12 m9">
    <div class="post-listing">
      <a class="btn" href= "{{ .Site.BaseURL }}" >
      Home
      </a>
      <header class="post-header">
      <h4 title="{{ .Title }}"><a href="{{ .Permalink }}" title="{{ .Title }}" class="tag-group-title">{{ .Title }}</a></h1>
      </header>
{{ partial "pagination.html" . }}
{{ partial "footer.html" . }}
    </div>
  </div>
</div>
