<h3 class="comment-title">Poster un commentaire</h3>
<form method="POST" action="/comments/submit.php">
    <input type="hidden" name="post_id" value="{{ .URL }}" />
    <input type="hidden" name="return_url" value="{{ .URL }}" />
    <p>Nom :
    <br /><input name="name" /></p>
    <p>Email :
    <br /><input name="email" /></p>
    <p>Site Web :
    <br /><input name="home" /></p>
    <p class="antispam">SpamKiller, ne pas remplir :):
    <br /><input name="url" /></p>
    <p>Votre message :
    <br /><textarea name="message" rows="10" cols="50"></textarea></p>
    <p><input type="submit" value="Envoyer" /></p>
</form>
