<div class="cover-card table-cell table-middle">
    <img src="{{ .Site.BaseURL }}/{{ .Site.Params.Avatar }}" class="avatar" alt="avatar">
    <a href="{{ .Site.BaseURL }}" class="author_name">{{ .Site.Title }}</a>
    <span class="author_job">{{ .Site.Params.AuthorJob }}</span>
    <span class="author_bio mbm">{{ .Site.Params.AuthorBio }}</span>
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{{ .Site.BaseURL }}">home</a>
                <span>/</span>
            </li>
            {{ range .Site.Menus.main }}
            <li class="nav-item">
                <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
            </li>
        </ul>
    </nav>
  <div class="social-links">
    <ul>
       {{ range .Site.Menus.social }}
         {{if .URL }}
           <li class="social-link-item"><a href="{{ .URL }}" target="_blank">{{ .Pre }}</a></li>
         {{ end }}
       {{ end }}
    </ul>
  </div>
</div>
