<!DOCTYPE html>
{{ partial "head.html" . }}
<html>
<body>
  <div class="row">
    <div class="col s12 m3">
      <div class="table cover">
	{{ partial "sidebar.html" . }}
      </div>
    </div>
    <div class="col s12 m9">
      <div class="post-listing">
      <h1>{{ .Title }}</h1>
      {{ range (.Paginate (where .Data.Pages "Type" "post")).Pages }}
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
	<small>{{ .Params.dates }}</small>
	<div class="post-description">        
	<p>{{ .Summary }}</p>
	</div>
{{ end }}
	{{ partial "footer.html" . }}
      </div>
    </div>
  </div>
</body>
</html>

