{{ partial "head.html" . }}
<div class="row">
  <div class="col s12 m3">
    <div class="table cover">
      {{ partial "sidebar.html" . }}
    </div>
  </div>
  <div class="col s12 m9">
    <div class="post-listing">
      <section class="post">
        {{ range (.Paginate (where .Data.Pages "Type" "post")).Pages }}
        <p class="post-meta">
          <span class="post-date">
            {{ .Date.Format "2 January , 2006" }}
            •
            {{ range .Params.categories }}
            <a class="post-cat" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
            •
            {{ range .Params.tags }}
            <a class="post-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          </span>
        </p>
        <h4><a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a>
        </h4>
	<div class="post-description">        
	  {{ .Summary }}
        </div>
        {{ end }}
      </section>
      {{ partial "pagination.html" . }}
      {{ partial "footer.html" . }}
    </div>
  </div>
</div>
</body>

</html>
